repos:
  - repo: https://github.com/norwoodj/helm-docs
    rev: v1.2.0
    hooks:
      - id: helm-docs
        args:
          # Make the tool search for charts only under the ``charts` directory
          - --chart-search-root=charts
          # The `./` makes it relative to the chart-search-root set above
          - --template-files=./_templates.gotmpl
          # A base filename makes it relative to each chart directory found
          - --template-files=README.md.gotmpl
  - repo: local
    hooks:
      - id: jsonschema-dereference
        name: jsonschema-dereference
        entry: python .pre-commit/jsonschema_dereference.py
        additional_dependencies: [jsonref]
        language: python
        types_or: [yaml, json]
