annotations:
  artifacthub.io/category: integration-delivery
  artifacthub.io/license: Apache-2.0
  artifacthub.io/links: |
    - name: support
      url: https://github.com/backstage/charts/issues
    - name: Chart Source
      url: https://github.com/backstage/charts
    - name: Default Image Source
      url: https://github.com/backstage/backstage
apiVersion: v2
description: A Helm chart for deploying a Backstage application
dependencies:
  - name: common
    repository: https://charts.bitnami.com/bitnami
    tags:
      - bitnami-common
    version: 2.x.x
  - condition: postgresql.enabled
    name: postgresql
    repository: https://charts.bitnami.com/bitnami
    version: 12.x.x
home: https://backstage.io
icon: https://raw.githubusercontent.com/cncf/artwork/master/projects/backstage/icon/color/backstage-icon-color.svg
keywords:
  - backstage
  - idp
kubeVersion: ">= 1.19.0-0"
maintainers:
  - name: Backstage
    url: https://backstage.io
name: backstage
type: application
sources:
- https://github.com/backstage/charts
- https://github.com/backstage/backstage

# This is the chart version. This version number should be incremented each time you make changes
# to the chart and its templates, including the app version.
# Versions are expected to follow Semantic Versioning (https://semver.org/)
version: 1.1.2
