backstage:
  readinessProbe:
    failureThreshold: 3
    httpGet:
      path: /healthcheck
      port: 7007
      scheme: HTTP
    initialDelaySeconds: 30
    periodSeconds: 10
    successThreshold: 2
    timeoutSeconds: 2
  livenessProbe:
    failureThreshold: 3
    httpGet:
      path: /healthcheck
      port: 7007
      scheme: HTTP
    initialDelaySeconds: 60
    periodSeconds: 10
    successThreshold: 1
    timeoutSeconds: 2
