name: Codespell

on:
  pull_request:

jobs:
  codespell:
    name: Codespell
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v6.0.0
      - name: Codespell
        uses: codespell-project/actions-codespell@v2
        with:
          skip: .git
          check_filenames: true
          check_hidden: true